*  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* // Text meant only for screen readers. */
.all-access {
	clip-path: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
	overflow: hidden;
	position: absolute;
}

.search-input {
    color: white;
    font-size: 1rem;
    outline: none;
}

#music-player {
    display: none;
}

.f-subheadline {
    text-shadow: 1px 1px 2px white;
}

.subheader {
    text-shadow: 1px 1px 2px white;
    display: none;
}

.more-results {
    display: none;
}

body {
    background-image: url(https://images.unsplash.com/photo-1533523705247-88786d3e9242?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2801&q=80);
    background-size: 100%;
    background-repeat: repeat-y;
    background-color: hotpink;
}

::placeholder {
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 1.5em;
  }
  

.results-type {
    display: none;
}
